@charset "UTF-8";

/*-------------------------
  初期値
-------------------------*/
body {
  padding-top: 72px;
  --key-color: #8e44ad;
  --sub-color: #8e44ad;
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 57px;
  }
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.topics p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-align: justify;
}

.topics .col-lg-4 {
  scroll-margin-top: 50vw;
}

.btn-primary {
  background-color: var(--key-color);
  border: 1px solid var(--key-color);
}

.btn-primary:hover {
  background-color: var(--sub-color);
  border: 1px solid var(--sub-color);
}

footer a {
  color: var(--key-color);
}

footer a:hover {
  color: var(--sub-color);
}
